<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/yzH5zvuEzzsHLZnn0jwYoPf0CMT.jpg"
                alt="">
        </div>
        <div class="slide-pane">
            <h2 class="name">
                test test test test
            </h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>star
                            <span class="rating-value">7.5
                                <span>/10</span></span></span>
                        <span>463 reviews</span>
                        <span>2021</span>
                    </span>
                </div>
            </div>
            <div class="desc mt-6">In the not-too-distant future, two drifters traveling through the desert stumble across
                the biggest gold nugget ever found and the dream of immense wealth and greed takes hold. They hatch a
                plan to excavate their bounty, with one man leaving to secure the necessary tools while the other
                remains with the gold. The man who remains must endure harsh desert elements, ravenous wild dogs, and
                mysterious intruders, while battling the sinking suspicion that he has been abandoned to his fate.</div>
        </div>
    </div>
</div>